/* Votre code CSS existant ... */

/* Media Queries pour les écrans jusqu'à 768px de largeur */
@media only screen and (max-width: 768px) {
    /* Styles spécifiques pour les écrans jusqu'à 768px de largeur */
}

/* Media Queries pour les écrans jusqu'à 480px de largeur */
@media only screen and (max-width: 480px) {
    /* Styles spécifiques pour les écrans jusqu'à 480px de largeur */
}
/* Styles pour les écrans jusqu'à 768px de largeur */
@media only screen and (max-width: 768px) {
    nav h1 {
        font-size: 8px;
        line-height: 30px;
    }

    .navigation {
        flex-direction: row;
        align-items: center;
    }

    .navigation a {
        font-size: 20px;
        padding: 8px;
        margin:0.5em;
    }
    .accueil h1 {
        font-size: 50px;
    }
    .accueil p {
        font-size: 14px;
    }
    #images{
        width: 100%;
    }

    .dossier h2{
        font-size: 30px;
    }
    #moi {
        width: 100%;

    }
    .dossier h3 {
        font-size: 12px;
    }
    .compétences h3 {
        font-size: 40px;
    }
    .compétences article {
        font-size: 14px;
    }
    .progress-container {
        width: 80%;
    }
    .portfolio h5 {
        font-size: 40px;
    }
    #portfoliopage {
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
    .popup-content {
        width: 80%;
    }
    main {
        width: 80%;
        margin: 5em auto;
    }
}

/* Styles pour les écrans jusqu'à 480px de largeur */
@media only screen and (max-width: 480px) {
    nav h1 {
        font-size: 20px;
    }

    .navigation {
        flex-direction: row;
        align-items: center;
    }

    .navigation a {
        font-size: 8px;
        padding: 8px;
        margin:0.5em;
    }
    .accueil h1 {
        font-size: 30px;
    }
    .accueil p {
        font-size: 12px;
    }
    
    #images{
        width: 100%;
    }

    .dossier h2{
        font-size: 30px;
    }
    #moi {
        width: 100%;

    }
    .dossier h3 {
        font-size: 12px;
    }

    .compétences h3 {
        font-size: 30px;
    }
    .compétences article {
        font-size: 12px;
    }
    .progress-container {
        width: 90%;
    }
    .portfolio h5 {
        font-size: 30px;
    }
    #portfoliopage {
        width: 90%;
    }
    .popup-content {
        width: 90%;
    }
    #imag01{
        height: auto;
        width: auto;
    }
    main {
        width: 90%;
        margin: 3em auto;
    }
}
