@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.footer {
  background-color: #121212;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.footer-content p {
  font-size: 1rem;
  margin: 0;
}

@media (max-width: 768px) {
  .footer-content p {
    font-size: 1rem;
  }
}