.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: background-color 0.3s, transform 0.3s;
}

.logo img {
    height: 50px;
    margin-left: 30px;
    cursor: pointer;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
    transition: color 0.3s, transform 0.3s;
}

.navbar a:not(.contact-btn):not(.logo-link)::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 50%;
    background-color: #00ffab;
    transition: width 0.3s ease, left 0.3s ease;
}

.navbar a:not(.contact-btn):not(.logo-link):hover::after {
    width: 100%;
    left: 0;
}
.navbar a.contact-btn {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    color: #000;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.3s;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.navbar-toggle .bar {
    width: 30px;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
}

.navbar-links {
    display: flex;
    gap: 50px;
}

.navbar-links.active {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    width: 100%;
    padding: 20px 0;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
    }

    .navbar ul {
        display: none;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        width: 100%;
    }

    .navbar ul.active {
        display: flex;
    }

    .navbar-toggle {
        display: flex;
    }
}