.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 40px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: color 0.3s, transform 0.3s;
}

.navbar a:hover {
    color: #00ffab;
    transform: translateY(-2px);
}

.navbar a.contact-btn {
    background-color: #fff;
    padding: 14px 30px;
    border-radius: 30px;
    color: #000;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.3s;
}

.navbar a.contact-btn:hover {
    color: #fff;
    background-color: #00ffab;
    transform: translateY(-2px);
}

/* Styles pour le bouton hamburger */
.navbar-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.navbar-toggle .bar {
    width: 30px;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
}

/* Styles pour la liste de liens en mode mobile (initialement cachée) */
.navbar-links {
    display: flex;
    gap: 50px;
}

.navbar-links.active {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacement entre les éléments */
    text-align: center;
    width: 100%;
    padding: 20px 0;
}

/* Cache les liens de navigation dans le menu burger en mode mobile */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .navbar ul {
        display: none; /* Cache les liens de navigation par défaut */
        flex-direction: column;
        gap: 20px; /* Espacement entre les éléments */
        text-align: center;
        width: 100%;
    }

    .navbar ul.active {
        display: flex; /* Affiche les liens lorsqu'ils sont activés */
    }

    .navbar-toggle {
        display: flex; /* Affiche le bouton burger */
    }
}