.projects-section {
    padding: 70px 50px 50px;
    background-color: #121212;
    color: #fff;
    position: relative;
}

.projects-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
    position: relative;
    padding-left: 20px;
}

.projects-content h2 {
    font-size: 2.52rem;
    font-weight: bold;
    margin-bottom: 30px;
    text-shadow: 2px 2px 10px rgba(0, 255, 171, 0.5);
    margin-left: -160px;
}

.projects-content h2::after {
    content: '';
    display: block;
    width: 150px;
    height: 5px;
    background-color: #00ffab;
    margin: 20px 0 0 0;
    animation: slide-in 0.6s ease-in-out;
}

@keyframes slide-in {
    0% {
        width: 0;
    }
    100% {
        width: 150px;
    }
}

.projects-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

.project-card {
    border-radius: 8px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.project-card.reverse {
    flex-direction: row-reverse;
}

.project-image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.project-info {
    padding: 20px;
    text-align: left;
}

.project-info h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    max-width: 400px;
    text-align: left;
    word-wrap: break-word;
}

.project-info p {
    font-size: 1.1rem;
    color: #d3d3d3;
    margin-bottom: 15px;
    max-width: 400px;
    text-align: left;
    word-wrap: break-word;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
}

.tag {
    border: 1px solid #00ffab;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
}

.project-link {
    display: inline-block;
    border: 1px solid #00ffab;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.project-link:hover {
    background-color: #00cc8c;
}

@media (max-width: 1024px) {
    .projects-list {
        flex-direction: column;
        align-items: center;
    }

    .project-card {
        width: 95%;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .projects-content h2 {
        font-size: 2.5rem;
    }

    .project-card {
        width: 95%;
    }
}

@media (max-width: 480px) {
    .projects-content h2 {
        font-size: 2rem;
    }

    .project-card {
        width: 95%;
    }
}